body {
  background-color: #ebebeb;
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 150px;
}

@font-face {
  font-family: SpaceMono;
  src: url("../font/SpaceMono-Regular.ttf");
  font-style: normal;
}

a {
  font-family: "SpaceMono";
  color: #0a0a0a;
  text-align: center;
  margin-inline: 100px;
  text-decoration-line: none;
  transform-origin: -100% 50%;
  position: absolute;
  left: 0;
  top: -1%;
}

a:hover {
  color: #fe3200;
}

.active {
  transform: translateX(var(--foo));
}
